{{- /*gotype: go-fullstack.Product*/ -}}
<tr>
  <td>
    <div class="p-2 flex items-center justify-center">{{.Id}}</div>
  </td>
  <td>
    <div class="mx-4">{{.Name}}</div>
  </td>
  <td class="">
    <div class="mx-4">{{.Price}}</div>
  </td>
  <td >
    <div class="flex items-center justify-center">
      <button
        class="btn btn-sm btn-ghost"
        hx-get="/partials/product-edit?id={{.Id}}"
        hx-swap="outerHTML"
        hx-target="closest tr"
      >Edit
      </button>
    </div>
  </td>
  <td >
    <div class="flex items-center justify-center">
      <button
        class="btn btn-sm btn-ghost"
        hx-delete="/api/products/{{.Id}}"
        hx-target="closest tr"
        hx-swap="outerHTML"
      >Delete
      </button>
    </div>
  </td>
</tr>
