{{- /*gotype: go-fullstack.Product*/ -}}
<tr class="hover">
  <td>{{.Id}}</td>
  <td>
    <input name="name" class="input input-sm input-bordered" value="{{.Name}}">
  </td>
  <td>
    <input name="price" class="input input-sm input-bordered" value="{{.Price}}">
  </td>
  <td>
    <button
      class="btn btn-sm btn-ghost"
      hx-get="/partials/product?id={{.Id}}"
      hx-target="closest tr"
      hx-swap="outerHTML"
    >Cancel
    </button>
  </td>
  <td>
    <button
      class="btn btn-sm btn-ghost"
      hx-include="closest tr"
      hx-put="/api/products/{{.Id}}"
      hx-target="closest tr"
      hx-swap="outerHTML"
    >Save
    </button>
  </td>
</tr>
