<body class="">
    {{ .Title }}
    <div class="flex gap-2 w-full">
        <a href="/" class="btn btn-sm btn-ghost">Home</a>
        <a href="/about" class="btn btn-sm btn-ghost">About</a>
    </div>
    <div>hello world!</div>
    <button id="my" class="btn btn-sm">
        <div>fetch data</div>
        <span id="my-loader" class="loading loading-sm loading-spinner text-primary hidden"></span>
    </button>
    <div class="p-4 bg-slate-950">
        haha im 950!
    </div>
    <div class="p-4 bg-gray-900">
        haha im 900!
    </div>
    <div class="p-4 bg-red-950">
        haha im 800!
    </div>
    <div class="p-4 bg-red-900">
        haha im 800!
    </div>
    <div class="p-4 bg-base-200">
        haha im 800!
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Small button
        </button>
        <ul class="dropdown-menu">
            ...
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <simple-greeting></simple-greeting>
    <pre id="fetch-response">

    </pre>
</body>
<script type="module">
    // import "/lib/components/hello.js"
    document.addEventListener("DOMContentLoaded", () => {
        async function fetchData() {
            const response = await fetch("/data")
            const data = await response.json();

            console.log(data);
        }
        const btn = document.querySelector("#my");
        const btnLoader = document.querySelector("#my-loader");

        console.log(btn)
        btn.addEventListener("click", async () => {
            console.log("hello world!!")
            btnLoader.classList.remove("hidden")
            await fetchData()
            btnLoader.classList.add("hidden")
        })
    })
    console.log("hello world")
</script>