<div class="flex flex-col items-center flex-1">
  <form
    class="flex gap-2 items-end"
    hx-post="/api/products"
    hx-target="#products-list"
    hx-swap="beforeend"
  >
    <label>
      <span class="label">Product name</span>
      <input name="name" class="input input-sm input-bordered" type="text" placeholder="Product name">
    </label>
    <label>
      <span class="label">Product price</span>
      <input name="price" class="input input-sm input-bordered" type="number" min="1" placeholder="Product price">
    </label>
    <button class="btn btn-sm">add</button>
  </form>
  <h1 class="my-3">Products</h1>

  <table class="">
    <!-- head -->
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="products-list">
    {{range .Products}}
        {{template "partials/product" .}}
    {{end}}
    </tbody>
  </table>
</div>
